<div class="text-end">
  <a href="/login" class="btn btn-outline-light me-2">Login</a>
  <!-- <button type="button" class="btn btn-outline-light me-2">Login</button> -->
  <a href="/signup" class="btn btn-warning me-2">Sign up</a>
</div>